/* MAIN */

$first-color:#f0ece2
$second-color:#dfd3c3
$third-color:#c7b198
$fourth-color:#596e79

.calculator
    display: flex
    flex-direction: column
    justify-content: center
    gap: 10px
    align-items: center
    height: 450px
    width: 300px
    border: 5px solid $fourth-color
    background-color: $second-color 
    .screen
        height: 125px
        width: 275px
        border-radius: 10px
        background-color: $first-color
        display: flex
        flex-direction: column
        align-items: center
        overflow: hidden
        .upperScreen
            height: 45px
            width: 90%
            font-size: 30px
            font-weight: bold
            color: $third-color
            display: flex
            justify-content: end
            align-items: end
        .underScreen
            height: 95px
            width: 90%
            font-size: 45px
            font-weight: bold
            color: $third-color
            display: flex
            justify-content: end
            align-items: end
    .clearAndDelete
        display: flex
        height: 50px
        width: 275px
        align-items: center
        justify-content: space-between
        #clear 
            width: 130px
            height: 40px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 10px
            background-color: $first-color
            font-weight: bold 
            color: $fourth-color
            transition: 0.2s
        #delete
            width: 130px
            height: 40px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 10px
            background-color: $first-color
            font-weight: bold 
            color: $fourth-color
            transition: 0.2s
        #clear:hover, #delete:hover
            cursor: pointer
            box-shadow: 3px 3px $third-color
    .keys
        height: 200px
        width: 275px
        display: grid
        grid-template-columns: repeat(4, 3fr)
        grid-gap: 10px
        grid-auto-rows: minmax(40px, auto)
        .key
            display: flex
            border-radius: 10px
            background: $first-color
            justify-content: center
            align-items: center
            color: $fourth-color
            font-size: 20px
            font-weight: bold
            transition: 0.2s
        .key:hover
            cursor: pointer
            box-shadow: 3px 3px $third-color

/* RESPONSIVE */
@media (max-width: 576px)


@media (min-width: 577px) and (max-width: 768px)


@media (min-width: 769px) and (max-width: 1024px)


@media (min-width: 1025px)
